<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>气动数据可视化系统</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link th:href="@{~/start_page/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/start_page/css/fontawesome-all.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/start_page/css/swiper.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/start_page/css/magnific-popup.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/start_page/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<style>
    .choose_file_btn {
        padding: 10px 30px;
        background: #5f4dee;
        color: #FFF;
        border: none;
        border-radius: 23px;
        height: 50px;
        width: 360px;
    }

    #pageFooter {
        color: white;
    }

    #backgroundImg {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    #UESTC_Logo {
        position: absolute;
        /*height: 70px;
         width: 100px; */
        left: 30px;
        top: 20px;
    }

    #backgroundImg {
        opacity: 0.3;
        /*filter: alpha(opacity=40);*/ /* 针对 IE8 以及更早的版本 */
    }
</style>
<body data-spy="scroll" data-target=".fixed-top" style="background-color:white">
<img th:src="@{~/images/StartPageCFDBackground.png}" id="backgroundImg" alt="CFDBackGround" src="#"/>
<img th:src="@{~/images/UESTC_Lab.png}" id="UESTC_Logo" alt="UESTC&LabLogo" src="#"/>

<!-- 页面加载时的动画效果 -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<!-- Header -->
<header id="header" class="ex-2-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="font-size: 50px;color: #3333CC">气动数据可视化系统</h1>

                <!-- Sign Up Form -->
                <div class="form-container" style="margin-top: 80px;">

                    <form action="/aero/receivestatisticfile" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>
                                <input type="file" class="choose_file_btn" id="files"
                                       name="statisticFile" required/>
                                <span>点击上方按钮选择数据文件</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label style="width: 100%">
                                <button type="submit" class="form-control-submit-button">确定</button>
                            </label>
                        </div>
                    </form>
                </div> <!-- end of form container -->
                <!-- end of sign up form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<div id="pageFooter">
    <footer class="footer text-center" style="color: black"> 2019 &copy; 电子科技大学气动数据可视化系统&nbsp;&nbsp;
        <a href="https://www.uestc.edu.cn/" target="_blank" title="电子科技大学官网" style="color:black;">电子科技大学</a>
        <br/>
        <span>地址：成都市高新区（西区）西源大道2006号&nbsp;清水河校区主楼b1-304、b1-305&nbsp;&nbsp;&nbsp;&nbsp;邮编：611731</span>
    </footer>
</div>
<!-- Scripts -->
<script th:src="@{~/start_page/js/jquery.min.js}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script th:src="@{~/start_page/js/popper.min.js}"></script> <!-- Popper tooltip library for Bootstrap -->
<script th:src="@{~/start_page/js/bootstrap.min.js}"></script> <!-- Bootstrap framework -->
<script th:src="@{~/start_page/js/jquery.easing.min.js}"></script>
<!-- jQuery Easing for smooth scrolling between anchors -->
<script th:src="@{~/start_page/js/swiper.min.js}"></script> <!-- Swiper for image and text sliders -->
<script th:src="@{~/start_page/js/jquery.magnific-popup.js}"></script> <!-- Magnific Popup for lightboxes -->
<script th:src="@{~/start_page/js/validator.min.js}"></script>
<!-- Validator.js - Bootstrap plugin that validates forms -->
<script th:src="@{~/start_page/js/scripts.js}"></script> <!-- Custom scripts -->
</body>
</html>